<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card"></div>
    </div>
    <form th:action="@{/api/v1/users/{id} (id=${user.})}" method="post" th:odject="${user}">
        <div class="form-group">
            <label>Username</label>
            <input
                    name="username"
                    th:field="*{username}"
                    th:value="${user.username}"
                    type="text"
                    class="form-control" placeholder="Enter first name">
        </div>
        <div class="form-group">
            <label>Last Name</label>
            <input
                    name="lastName"
                    th:value="${user.password}"
                    th:field="*{password}"
                    type="text"
                    class="form-control" placeholder="Enter last name">
        </div>
    </form>
</div>
</body>
</html>